@media screen and (max-width: 1140px) {
    .apresentacao .subtitulo {
        font-size: 20px;
    }

    .apresentacao .titulo {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .apresentacao article {
        padding: 0;
    }
    .apresentacao-imagem {
        margin: 0 auto;
        max-width: 590px;
    }
}

@media screen and (max-width: 730px) {
    .modal iframe {
        width: calc(702px - 150px);
        height: calc(395px - 85px);
    }
}

@media screen and (max-width: 600px) {
    .logo img {
        width: 80px;
    }

    .logo p {
        font-size: 12px;
    }
}

@media screen and (max-width: 530px) {

    /* TODO: ESCONDER ITENS DO MENU */

    /* temp ----- */
    .menu{
        visibility: hidden;
    }
    /* -------------- */

    .apresentacao .subtitulo {
        font-size: 20px;
    }

    .apresentacao .titulo {
        font-size: 58px;
        line-height: 60px;
    }
}