body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.intro {
  overflow: hidden;
}

.grid {
  display: grid;
}

.blue-text {
  font-weight: bold;
  color: #1cc3be;
}

b {
  color: #1cc3be;
}

section:not(:first-of-type) {
  margin-top: 6rem;
}

main {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 900;
  background-color: white;
}

figure {
  text-align: center;
}

.navbar {
  padding: 20px 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  color: black;
  font-weight: 300;
  width: 20%;
  gap: 5px;
  display: flex;
}
.navbar .logo p {
  font-size: 13px;
  text-transform: uppercase;
  align-self: center;
}
.navbar .logo img {
  width: 97px;
}
.navbar nav {
  width: 70%;
  align-items: center;
}
.navbar .menu {
  float: right;
  height: 100%;
  align-items: center;
  display: flex;
  gap: 30px;
}
.navbar .menu a {
  color: black;
  font-weight: 400;
  transition: 0.2s;
  padding: 5px;
  border-radius: 50px;
  display: block;
  width: 100%;
}
.navbar #nav:not(.active) .menu a:hover {
  background-color: #1cc3be;
}

.gg-menu {
  color: white;
  text-align: center;
  margin: 0 auto;
}

.row {
  height: 100%;
  align-items: top;
  display: flex;
  flex-flow: wrap;
  justify-content: baseline;
  align-items: center;
}

.col {
  margin: 0;
  width: 50%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2%;
}

.apresentacao-imagem {
  display: block;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

.subtitulo {
  font-size: 28px;
}

.titulo {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
}

.texto {
  margin: 25px auto;
  text-align: justify;
}

.paragrafo {
  text-indent: 2rem;
}

#texto-apresentacao {
  padding-left: 0;
  padding: 2em 2em 2em 0;
}

article {
  margin: 5% auto;
  display: inline-block;
}

hr {
  max-width: 60%;
  height: 6px;
  color: #1cc3be;
  background-color: #1cc3be;
  border: none;
  border-radius: 5ch;
}

button {
  text-align: center;
  background: none;
  border: solid 3px #1cc2bd;
  color: #1cc2bd;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.botao-video {
  transition: 0.5s;
  padding: 8px 25px;
}
.botao-video:hover {
  transform: scale(1.08);
}

.animation-button {
  transition: 0.5s;
}
.animation-button:hover {
  transform: scale(1.08);
}

.modal {
  z-index: 999;
  display: none;
  position: fixed;
  background-color: rgba(52, 52, 50, 0.749);
  height: 100vh;
  width: 100vw;
  top: 0;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 15px;
  gap: 15px;
}

section:first-of-type {
  margin-top: 90px;
}

.botao-fechar {
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 15px;
}

.modal.aberto {
  display: block;
}

.bg-circle {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.69);
}

#image-col {
  border-radius: 20% 20% 0 0;
  overflow: hidden;
}

.info-cards {
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 10px;
  width: 30%;
  display: flex;
  align-items: center;
  border: 2px solid #1cc1bc;
  border-radius: 10px;
  background: white;
}

.card-text {
  padding: 0 5px;
}

.card-title {
  width: 100%;
  font-weight: 800;
}

.card-content {
  font-size: 12px;
}

.ideias-do-futuro {
  position: relative;
  background-color: #1cc3be;
  padding: 0 10px 50px;
  border-radius: 40px;
  overflow: visible;
  margin-top: 5em;
}
.ideias-do-futuro .info-cards {
  margin: 50px auto 0;
}
.ideias-do-futuro .info-cards .card {
  flex-direction: column;
  padding: 10px 10px 20px;
  background-color: white;
  border: none;
}
.ideias-do-futuro .titulo {
  color: white;
  text-align: center;
  line-height: 50px;
}
.ideias-do-futuro i {
  display: block;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  color: white;
}

#btn-mobile {
  height: 45px;
  width: 60px;
  display: none;
  float: right;
  cursor: pointer;
  background-color: #005669;
  border: none;
}

.card-icon {
  background: linear-gradient(90deg, rgb(87, 203, 200) 50%, rgb(69, 142, 141) 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.lightbulb-icon {
  position: relative;
  top: -70px;
  display: flex;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #1cc3be;
  margin: 0 auto;
}

.marcas .titulo {
  text-align: center;
}

.marcas-imagem {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.marcas-list {
  margin: 10% 0;
  width: 100%;
}

.banner-marcas {
  height: 40vh;
  position: relative;
  width: 100vw;
  background-color: #e1e2e0;
}

.sobre-nos img {
  padding: 20px;
  border-radius: 50px;
}

#sobrenos-intro {
  background-color: #f0f0f0;
  width: 100vw;
  background-size: 100vw;
  overflow: hidden;
}
#sobrenos-intro article {
  margin-left: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#sobrenos-intro article button {
  width: 200px;
}

#sobrenos-grid-info .titulo {
  text-align: center;
}
#sobrenos-grid-info .grid {
  margin: 8rem auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
#sobrenos-grid-info .grid .item:not(:first-child) .item-container {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
#sobrenos-grid-info .grid .item .item-container {
  height: 100%;
  padding: 1rem;
  line-height: 4.2rem;
}
#sobrenos-grid-info .grid .item .item-container h3 {
  line-height: initial;
  margin-bottom: 2rem;
}
#sobrenos-grid-info .grid .item .grid-item-icon {
  text-align: center;
  color: white;
  display: block;
  width: max-content;
  border-radius: 10px;
  background-color: #1cc3be;
  font-size: 33px;
  padding: 9px;
}
#sobrenos-grid-info .grid .item .grid-item-text {
  line-height: 1.5rem;
}
#sobrenos-grid-info .grid .item button {
  padding: 5px;
  margin-top: 2rem;
}

.banner-section {
  display: flex;
}
.banner-section figure {
  padding-left: 2rem;
}
.banner-section .apresentacao-imagem {
  border-radius: 15px;
}

#marcas-intro {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url(../img/fundo-intro-marcas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#marcas-intro h1 {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
}

.marcas-grid {
  grid-template-columns: repeat(3, minmax(250px, 300px));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.marcas-grid .marca-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  align-items: top;
  padding: 1rem;
  border-radius: 30px;
  min-height: 370px;
}
.marcas-grid .marca-card * {
  margin: 0 auto;
}
.marcas-grid .marca-card figure {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
}
.marcas-grid .marca-botao {
  font-size: 1.3rem;
  padding: 5px;
}
.marcas-grid .marca-logo {
  max-width: 8rem;
  display: block;
  max-height: 6rem;
}

#fale-conosco .titulo {
  margin-top: 8rem;
  color: #1cc1bc;
}
#fale-conosco .contact-list {
  margin: 2rem 0;
}
#fale-conosco li {
  font-size: 17px;
  margin-bottom: 1rem;
}
#fale-conosco li a {
  color: black;
  font-weight: bold;
  margin-left: 10px;
}

footer {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0.4rem;
  background-color: #1dc2bd;
}

/*# sourceMappingURL=style-new.css.map */
